


.empresaMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.divEmpresa{
    width: 80%;
    padding: 5% 5% 10% 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 4px 11px rgb(0 0 0 / 19%);
}

.photoEmpresa{
    width: 100px;
    height: 100px;
    min-height: 100px;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 11px rgb(0 0 0 / 19%);

}

.photoEmpresa img{height: 50px;}

.textEmpresa{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    overflow-y: auto;
}
.tittleEmpresa{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.pEmpresa{
    font-size: 12px;
    white-space: pre-line;
    text-align: start;
}


/*$$$$$$$$$$$$$TABLET$$$$$$$$$$TABLET$$$$$$$$$$$$TABLET$$$$$$$$$$$$$$$TABLET$$$$$$$$$$$$$$$$$$$$$*/

@media (min-width: 740px){
    .empresaMain{
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        gap: 0;
    }
    .divEmpresa{
        margin-bottom: 30px;
       
    }
}

@media (min-width: 740px) and (max-width:1199px){
    .divEmpresa{
        height: 310px;
       
    }
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%DESKTOPS%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%DESKTOPS%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%DESKTOPS%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%DESKTOPS%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%DESKTOPS%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media (min-width: 1200px) and (max-width:1900px){
    .divEmpresa{
        height: 310px;
       
    }
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^*/
/*^^^^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^DESKTOPS^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

@media (min-width: 1901px){
    .empresaMain{
        gap: 15px;
    }
    .divEmpresa{
        height: 500px;
        width: 100%;
       
    }
    .tittleEmpresa{
        font-size: 27px;

    }
    .pEmpresa{
        font-size: 21px;

    }
}