@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Rubik+Glitch&display=swap');


/*$$$$$$$$$$$$$$$$ MAIN $$$$$$$$$$$ MAIN #$$$$$$$$$ MAIN$$$$$$$$$$$$$$$$$$*/



.mainServices{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.boxServices{
    width: 80%;
    height: 284px;
    padding: 3%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    border-radius: 10px;
    box-shadow: 1px 4px 11px rgb(0 0 0 / 19%);
}
.boxPhotosServices{
    width: 150px;
    padding: 3%;
    border-radius: 10px;

}
.boxPhotosServices img{
    height: 115px;

}

.divTextServices{
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
}
.tittleServices{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    display: flex;
    color: var(--color-principal);
    align-items: center;
    justify-content: center;
}
.textServices{
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
}
.dots{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
    text-align: start;
    margin-top: 14px;
    font-size: 15px;
    color: var(--color-principal);
}



.dotsElement{

}






@media (min-width: 740px) and (max-width: 1900px){
    .mainServices{
        display: grid;
        grid-template-columns: repeat(auto-fit,16rem);
        justify-content: center;
        padding: 0 5%;
        gap: 60px;
    }
    
    .boxServices{
        height: 319px;
        width: 100%;
    }
    .tittleServices{
        font-size: 18px;
        height: 80px;
    }
    .textServices{
        font-size: 17px;
    }
}

@media (min-width: 1901px){
    
    .mainServices{
        display: grid;
        grid-template-columns: repeat(auto-fit,23rem);
        justify-content: center;
        padding: 0 5%;
        gap: 85px;
    }
    .boxServices{
        height: 585px;
        width: 100%;
    }
    .tittleServices{
        font-size: 26px;
        height: 140px;
    }
    .textServices{
        font-size: 23px;
    }
    .dots{
        font-size: 23px;
    }
    
}